a{
    text-decoration: none;
}

.container{
    width: 100%;
    padding: 0 0 0 15px;
    margin: 0 auto;
}

header{
    background-color: rgba(34, 49, 52, 0.7);
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    left: 0;

}

.logo{
    float: left;
    font-size: 28px;
    padding: 0 15px;
    
}

.logo p{
    margin: 0px;
    text-align: center;
}

.menu{
    float: right;
    padding: 0 15px;
    
    
}

.btn{
    padding: 0 40px;
    color: black;
    line-height: 55px;
    display: inline-block;
    border-radius: 20px;
    margin-top: 5px;
    font-family: 'Tahoma', sans-serif;
    text-transform: uppercase;

}

.daftar:hover{
    background-color: #ffe58e
}

.login:hover{
    background-color:#64c0c7;
}

.logo img{
    height: 65px;
}

.daftar{
    background-color: #f8d355;
    margin-right: 20px;
}

.login{
    background-color: #00c4d2;
    margin-right: 20px;
}

/* .top-wrapper{
    padding: 180px 0 100px 0;
    background-color: antiquewhite;
}

.gym-wrapper{
    background-color: beige;
    height: 500px;
}

.testimoni-wrapper{
    background-color: aquamarine;
    height: 500px;
} */

footer{
    padding: 30px 0;
    background-image: url(https://fithub.id/wp-content/uploads/2022/02/bg-footer-1.jpg);
    background-size: cover;
}

.foo-top{
    height: 90px;
    position: relative;
}

.foo-top p{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 800;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    display: inline;
    position: absolute;
    top: 10px;
    left: 130px;
    
}

.foo-top img{
    height: 70px;
    background-color: #00c4d2;
    border-radius: 15px;
    margin-right: 50px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.foo-menus{
    height: 200px;
    width: 1300px;
    border-bottom: 1px solid #f8d355;
}

.foo-menu{
    float: left;
    margin-left: 15px;
    padding-right: 25px;
    width: 150px;
}

.foomenu-list a{
    display: block;
    color: white;
    font-family: Helvetica, sans-serif;
    padding-bottom: 5px;
}

.foomenu-head{
    color: white;
    font-family: Helvetica, sans-serif;
}

.foo-abouts{
    height: 200px;
    width: 100%;
    border-bottom: 1px solid #f8d355;
}

.about-left{
    float: left;
    width: 250px;
    color: white;
    padding-left: 20px;
}

.about-right{
    float: right;
    padding-right: 20px;
    color: white;
}

.foo-copyright{
    width: 100%;
    text-align: center;
    color: white;
    font-family: Helvetica, sans-serif;
}





